<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGs03+Hhxv8T/Q5PaXtkKtu6ug%T0eNV6gBiFeWPGFN9Muh0f23Q9Ifjh" crossorigin="anonymous">
  
  <title>Comment Section</title>
</head>
<body class="bg-light">
  <div class="container pt-4">
    <h1>User Comments</h1>
    <form method="POST" id="form">
      {%csrf_token%}
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>